[submodule "footsteps"]
	path = footsteps
	url = https://github.com/TheJavaNoob/thejavanoob/footsteps
[submodule "programnotes"]
	path = programnotes
	url = https://github.com/TheJavaNoob/thejavanoob/programnotes
