body {
	background-color: #333;
	/*-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;*/
}

* {
	box-sizing: border-box;
}

.header {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}

.header-top {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 80%;
	top: 0%;
}

.header-display {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	bottom: 0px;
	max-height: 90%;
	min-height: 90%;
	object-fit: cover;
}

.header-display-content {
	position: relative;
	justify-content: center;
	flex-grow: 2;
	height: 100%;
	overflow: hidden;
	background-color: black;
}

.arrow {
	position: relative;
	display: flex;
	align-items: center;
	color: white;
	font-size: 5em;
	height: 100%;
}

.arrow:hover {
	color: #e0e0e0;
	background-color: #555;
}

.header-display-entry{
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	left: 0;
}

.header-display-entry img {
	position: relative;
	height: 100%;
	object-fit: cover;
}

.header-display-entry p {
	position: absolute;
	text-align: left;
	font-size: 1.5em;
	background-color: #333333aa;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding-bottom: 3em;
	padding-left: 2em;
	z-index: 1;
}

.header-top h1 {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.picker-container {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	background: #333;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #888;
}

.title-text {
	color: white;
	text-align: left;
	word-spacing: 0.2em;
	font-family: "Helvetica Neue";
	font-weight: 400;
	font-size: calc(.5rem + 2.4vw);
}.picker img {
	height: 1.2em;
}
.picker {
	display: inline-grid;
	border-radius: 15px;
	position: relative;
	padding-right: 1rem;
	background: #333;
	color: white;
	grid-template-columns: repeat(4, fit-content(500px));
	position: relative;
	justify-content: center;
	width: 0;
}

.picker:before,
.picker:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2.2em;
	pointer-events: none;
}

.picker:before {
	top: -0.1em;
	background: linear-gradient(#333, #30303000);
}

.picker:after {
	bottom: 0;
	height: 2.4em;
	background: linear-gradient(#30303000, #333);

}

.picker-window {
	position: absolute;
	height: 1.4em;
	left: 0;
	top: 50%;
	transform: translateY(-65%);
	width: 100%;
	pointer-events: none;
}

.picker ul {
	-ms-overflow-style: none;
	max-height: 4em;
	overflow-y: scroll;
	padding-left: 1em;
	padding-right: 1em;
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
	padding-bottom: 4em;
	padding-top: 4em;
	margin-bottom: 0;
}

.picker ul::-webkit-scrollbar {
	display: none;
}

.picker li {
	scroll-snap-align: center;
	height: 1.4em;
	text-align: left;
	word-spacing: 0.2em;
	list-style: none;

}

.content {
	background-color: #333;
	margin-left: 20vw;
	margin-right: 20vw;
	padding-top: 9em;
	-ms-scroll-snap-align: start;
	scroll-snap-align: start;
	min-height: 100vh;
	border-top: #888;
}

.content p, a{
	font-size: 1.2em;
	line-height: 120%;
}

.content h1 {
	font-size: 2.5em;
}

.content-entry h2{
	margin-top:2em;
}

.content-entry img {
	max-height: 20em;
	max-width: 60vw;
	margin-bottom: 1em;
}

h1,
h2,
a,
h3,
p {
	color: white;
	font-family: "Helvetica Neue";
}

hr {
	width: 50%;
	height: 2px;
	margin-right: auto;
	margin-left: 0;
}

a:hover {
	color: #e0e0e0;
}



.language div{
	display: flex;
	flex-direction: row;
	margin-top: 2em;
}

.language img{
	width: auto;
	align-self: center;
	margin-right: 1em;
}